<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Roku Com Link &#8211; How To Setup Channels on ROKU?	</title>
	<atom:link href="https://www.rokucomlink.net/setup-roku-channels/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.rokucomlink.net/setup-roku-channels/</link>
	<description>Easy Guide to Setup Roku</description>
	<lastBuildDate>Mon, 24 Feb 2020 11:16:18 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.2.5</generator>
</channel>
</rss>
