<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments for Roku.Com/Link	</title>
	<atom:link href="https://www.rokucomlink.net/comments/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.rokucomlink.net</link>
	<description>Easy Guide to Setup Roku</description>
	<lastBuildDate>2020-03-09 08:56:26</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.2.5</generator>
</channel>
</rss>
